{% extends "base.html" %}

{% block content %}
    <div id="cover">
      <form name="search_map" action="" method="post">
        <div class="tb">
          <div class="td"><input type="text" placeholder="Search" required name="search"></div>
          <div class="td" id="s-cover">
            <button type="submit">
              <div id="s-circle"></div>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div>
        <input type="radio" name="map_radio" value="clouds" id="clouds" onchange="radioChanged()" checked="checked">
        <label for="pressure">clouds</label>
        <input type="radio" name="map_radio" value="pressure" id="pressure" onchange="radioChanged()">
        <label for="pressure">pressure</label>
        <input type="radio" name="map_radio" value="temperature" id="temp" onchange="radioChanged()">
        <label for="temp">temperature</label>
        <input type="radio" name="map_radio" value="precipitation" id="precipitation" onchange="radioChanged()">
        <label for="precipitation">precipitation</label>
        <input type="radio" name="map_radio" value="wind" id="wind" onchange="radioChanged()">
        <label for="wind">wind speed</label>
    </div>
    <div style="width: 100%; height: 80vh; border-radius:20px;" id="map"></div>
    <script>
        var city = { lng: {{lon}}, lat:{{lat}}}
        var map = tt.map({
            key: 'IP5RMG2Jx0ZOHocnOe1fG6TFf8t5FAf3',
            container: 'map',
            center: city,
            zoom:13
        })

        var cloudSource = {
            type: 'raster',
            tiles: ['https://tile.openweathermap.org/map/clouds_new/{z}/{x}/{y}.png?appid={{WEATHER_API}}'],
            tileSize: 256,
            minZoom: 0,
            maxZoom: 12,
            attribution: 'OpenWeatherMap.Org'
        }
        var rainSource = {
            type: 'raster',
            tiles: ['https://tile.openweathermap.org/map/precipitation_new/{z}/{x}/{y}.png?appid={{WEATHER_API}}'],
            tileSize: 256,
            minZoom: 0,
            maxZoom: 12,
            attribution: 'OpenWeatherMap.Org'
        }
        var tempSource = {
            type: 'raster',
            tiles: ['https://tile.openweathermap.org/map/temp_new/{z}/{x}/{y}.png?appid={{WEATHER_API}}'],
            tileSize: 256,
            minZoom: 0,
            maxZoom: 12,
            attribution: 'OpenWeatherMap.Org'
        }
        var pressureSource = {
            type: 'raster',
            tiles: ['https://tile.openweathermap.org/map/pressure_new/{z}/{x}/{y}.png?appid={{WEATHER_API}}'],
            tileSize: 256,
            minZoom: 0,
            maxZoom: 12,
            attribution: 'OpenWeatherMap.Org'
        }
        var windSource = {
            type: 'raster',
            tiles: ['https://tile.openweathermap.org/map/wind_new/{z}/{x}/{y}.png?appid={{WEATHER_API}}'],
            tileSize: 256,
            minZoom: 0,
            maxZoom: 12,
            attribution: 'OpenWeatherMap.Org'
        }

        var cloudLayer = {
            'id': 'cloud_layer',
            'type': 'raster',
            'source': 'cloud_source',
            'layout': { 'visibility': 'visible'}
        }
        var rainLayer = {
            'id': 'rain_layer',
            'type': 'raster',
            'source': 'rain_source',
            'layout': { 'visibility': 'visible'}
        }
        var tempLayer = {
            'id': 'temp_layer',
            'type': 'raster',
            'source': 'temp_source',
            'layout': { 'visibility': 'visible'}
        }
        var pressureLayer = {
            'id': 'pressure_layer',
            'type': 'raster',
            'source': 'pressure_source',
            'layout': { 'visibility': 'visible'}
        }
        var windLayer = {
            'id': 'wind_layer',
            'type': 'raster',
            'source': 'wind_source',
            'layout': { 'visibility': 'visible'}
        }

        let currentLayerId = 'cloud_layer'
        let currentLayerSource = 'cloud_source'

        map.on('load', function() {
            map.addSource('cloud_source', cloudSource)
            map.addLayer(cloudLayer)
        })
        function radioChanged(myRadio) {
            let currentRadio = document.querySelector('input[name="map_radio"]:checked').value
            map.removeLayer(currentLayerId)
            map.removeSource(currentLayerSource)
            if (currentRadio == 'clouds') {
                map.addSource('cloud_source', cloudSource)
                map.addLayer(cloudLayer)
                currentLayerId = 'cloud_layer'
                currentLayerSource = 'cloud_source'
            }
            else if (currentRadio == 'precipitation'){
                map.addSource('rain_source', rainSource)
                map.addLayer(rainLayer)
                currentLayerId = 'rain_layer'
                currentLayerSource = 'rain_source'
            }
            else if (currentRadio == 'temperature') {
                map.addSource('temp_source', tempSource)
                map.addLayer(tempLayer)
                currentLayerId = 'temp_layer'
                currentLayerSource = 'temp_source'
            }
            else if (currentRadio == 'pressure') {
                map.addSource('pressure_source', pressureSource)
                map.addLayer(pressureLayer)
                currentLayerId = 'pressure_layer'
                currentLayerSource = 'pressure_source'
            }
            else if (currentRadio == 'wind') {
                map.addSource('wind_source', windSource)
                map.addLayer(windLayer)
                currentLayerId = 'wind_layer'
                currentLayerSource = 'wind_source'
            }
        }

        map.on('click', function (event) {
            console.log(event.lngLat)
            weatherForCityAround(event.lngLat)
        })

        var nav = new tt.NavigationControl({});
        map.addControl(nav, 'top-left');

        function createDOM(city) {
            let div = document.createElement('div')

            let temp = document.createTextNode(((city.main.temp.toFixed(0) - 32) * 5 / 9).toFixed(2) + ' °С')

            div.appendChild(temp)

            let icon = city.weather[0].icon
            let image = document.createElement('img')
            image.src = 'https://openweathermap.org/img/wn/' + icon + '@2x.png'
            div.appendChild(image)

            let bio = document.createTextNode(city.weather[0].description)
            div.appendChild(bio)

            return div
        }

        async function weatherForCityAround(lngLat) {
            var url = 'https://api.openweathermap.org/data/2.5/weather?units=imperial&lat={lat}&lon={lon}&lang=en&appid={{WEATHER_API}}'
            url = url.replace('{lat}', lngLat.lat)
            url = url.replace('{lon}', lngLat.lng)
            let weatherResponse = await fetch(url)
            let weatherData = await weatherResponse.json()
            console.log(weatherData)
            var popup = new tt.Popup({maxWidth: 'none'})
                .setDOMContent(createDOM(weatherData))
                .setLngLat(weatherData.coord)
                .addTo(map)
        }
    </script>
{% endblock %}