{% extends "base.html" %}

{% block content %}

    <div class="content">
        <div class="card">
            <div class="firstinfo">
                <img src="{{ user.avatar(128)}}", alt="oops, something went wrong">
                <form method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <button type="submit" class="submit-feedback">Upload photo</button>
                    {{ form.image }}
                </form>
                <div class="profileinfo">
                    <h1> {{ user.name }}</h1>
                    <h3>email: {{ user.email }}</h3>
                    <h3>Hometown: {{ user.city }}</h3>
                    <p class="bio">{{user.about}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}